<nav class="navbar">
    <div class="navbar-items">
        <div class="nav-logo">
            <a href="/">
                <img class="logo" src="assets/images/logo/logo.png" alt="Logo">
                <span class="logo-text">string checker</span>
            </a>
        </div>

        <div class="nav-links">
            <a class="link" routerLink="/home" routerLinkActive="active">Home</a>
            <a class="link" routerLink="/checker" routerLinkActive="active">Checker</a>
        </div>
    </div>
</nav>
  